<div id="mom-card" data-toggle="modal" data-target="#myModal<%= mom.name %>">
  <div id="owner-avatar">
    <!-- PICTURE OF USER -->
  </div>

  <div id="back-card">
    <div id="mom-picture-card">
      <!-- PICTURE OF MOM -->
      MOM PIC
      <h2 id="mom-picture-card-name"><%= mom.name %></h2>
    </div>
    <div id="bottom-card">
      <p><%= mom.owner.name %>'s mom</p>
    </div>
  </div>
</div>
