<div id="mom-card-container">
<% @moms.each do |mom| %>
  <%= render '/moms/card-mom', mom: mom %>
<% end %>
</div>

<% @moms.each do |mom| %>
  <%= render '/moms/show-mom-modal', mom: mom%>
<% end %>
