<% @moms.each do |mom| %>
  <h2><%= mom.name %></h2>
  <p>Owned by user: <%= mom.owner.name %></p>
  <p></p>
  <!-- Trigger the modal with a button -->
  <%= render '/moms/show-mom-modal', mom: mom %>

  <p></p>
  <p></p>
<% end %>

<div class="col-lg-6" id="mom-card">
  <div id="owner-avatar">
    <!-- PICTURE OF USER -->
  </div>
  <div id="back-card">
    <div id="mom-picture">
      <!-- PICTURE OF MOM -->
    </div>
    <div id="bottom-card">
      <%= link_to "See More"  %>
    </div>
  </div>
</div>
