.dash-container {
  height: 85vh;
  background-image: url('https://media.giphy.com/media/YmV3LrUGflTaM/giphy.gif');
  background-size: cover;
  opacity: 0.8;
  margin-top: -32px;
}

.dashboard {
  padding-left: 30px;
  padding-top: 30px;
  margin-top: 100px;
}

.profile {
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffe74d;
  background: #fff8cd;
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.links {
  // padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.user_bookings {
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #9be3de;
  background: #DEF5F4;
  padding: 15px;
  margin-left: 15px;
}

.mom_bookings {
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffc6c7;
  background: #faeee7;
  padding: 15px;
  margin-left: 15px;
}

.dashboard h3 {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  color: #656565;
  margin-bottom: 15px;
}

.dashboard h5 {
  color: #656565;
}

.dashboard p {
  color: #656565;
}

.btn.create-button {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  background: white;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  border: 2px solid #ffc6c7;
  color: #ffc6c7;
  text-decoration: none;
}

.btn.create-button:hover {
  color: #ffc6c7;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  border: 2px dotted #ffc6c7;
}

.btn.edit-button {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  background: white;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  border: 2px solid #9be3de;
  color: #9be3de;
  text-decoration: none;
}

.btn.edit-button:hover {
  color: #9be3de;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  border: 2px dotted #9be3de;
}

.btn.signout-button {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  background: white;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  border: 2px solid #ffe74d;
  color: #ffe74d;
  text-decoration: none;
}

.btn.signout-button:hover {
  color: #ffe74d;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  border: 2px dotted #ffe74d;
}
