.signupform {
  // background-color: red;
// margin-top: 200px;
padding-top: 200px;

}

.signupform h2 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #656565;
}

.backimage {
// background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), asset-url('banner.jpg');
// height: 100vh;
padding-bottom: 70px;
background-color: white;
}

.inputarea {
border: solid;
// border-color: #92a8d1;
// border-color: #beebe9;
border-color: #ffc6c7;
background-color: #faeee7;
// opacity:0.2;
border-radius: 5px;
position: relative;

padding: 40px;
}


.avatarlogo {
position: absolute;
top:20px;
right:20px;
// width:30px;
}

.avatarlogo img {
  width:40px;
  border-radius:50%;
}
