<div class="banner">
 <div class="container">
  <h1> MammaMia</h1>
  <p>Book a mom who cares about you anywhere, everywhere.</p>
  <% if current_user.nil? %>
    <%= link_to "Find your next mom!", moms_path, class: "btn btn-ghost" %>
  <% else %>
    <%= link_to "Go To Your Dashboard",dashboard_path, class: "btn btn-ghost" %>
  <% end %>
 </div>

</div>
<br>
