<div class="banner">
 <div class="container">
   <h1> MammaMia</h1>
   <p>Find a mom who cares about you anywhere, everywhere.</p>
   <a class="btn btn-ghost" href="#">Register</a>
 </div>
</div>
<br>
