<div class="container">
    <h2 class="text-center">How it works</h2>
    <br>

    <div class="cards d-flex justify-content-between">

      <div class="card">
        <%= image_tag 'bestemor.jpeg' %>
        <h4>Find</h4>
        <p>Look through all the avaliable moms.</p>
      </div>

      <div class="card">
        <%= image_tag 'calendar.jpg' %>
        <h4>Book</h4>
        <p>Book a time with your new mom.</p>
      </div>

      <div class="card">
        <%= image_tag 'elderly-woman-in-kitchen.jpg' %>
        <h4>Enjoy!</h4>
        <p>Spend time with your new mom.</p>
      </div>

    </div>
  </div>
