<div class="container">
    <h2 class="text-center">How it works</h2>
    <br>

    <div class="cards d-flex justify-content-between">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1504778995644-77707b624d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
        <h4>Find</h4>
        <p>Look through all the avaliable moms.</p>
      </div>

      <div class="card">
        <%= image_tag 'calendar.jpg' %>
        <h4>Book</h4>
        <p>Book a time with your new mom.</p>
      </div>

      <div class="card">
        <%= image_tag 'elderly-woman-in-kitchen.jpg' %>
        <h4>Enjoy!</h4>
        <p>Spend time with mom.</p>
      </div>

    </div>
  </div>
