#modal-div {
  margin: 20px auto;
  background: #263238;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 100px;
  color: white;
  border-radius: 15px;
}

.separ {
    border-bottom: 1px #FFF solid;
    background: transparent;
    height: 0;
    margin: 15px auto;
}
