#index-card {
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffc6c7;
  background: #faeee7;
  opacity: 0.80;
  text-align: left;
  padding: 0px;
}

#index-card img {
 height: 150px;
 margin-bottom: -30px;
 border-radius: 0px;
 height: auto;
}

#index-card i {
  font-size: 24px;
}

#index-card h2 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #ffb3b4;
  margin-bottom: -5px;
}

#index-card h5 {
  font-size: 20px;
  color: #656565;
}

#index-card:hover {
  opacity: 1;
  border-color: #9be3de;
  background: #DEF5F4;
}

#price {
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  color: #ffb3b4;
}

.card-columns {
  vertical-align: top;
}

.spacer30 {
  height: 30px;
}

.spacer10 {
  height: 10px;
}

#card-button {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  background: white;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  opacity: 1;
  border: 3px dotted white;
  color: #ffc6c7;
  padding: 5px;
  text-decoration: none;
}

#card-button:hover {
  color: #ffc6c7;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  border: 3px dotted #ffc6c7;
}
