.navbar-lewagon {
 justify-content: space-between;
 background: white;
 border-bottom: solid 1px;
 border-bottom-color: #ffe3ed;
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px;
  border-bottom-color: #ffe3ed;
  font-family: 'Pacifico', cursive;
  font-size: 20px;

}

.transparent-bg {
  background-color: transparent;
  border-bottom: 0px;
  border-bottom-color: transparent;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand {
  width: 300px;
  margin-left: 0px;
}

.navbar-mammamia {
  width: 300px;
}
.navbar-mammamia h2{
  font-family: 'Great Vibes', cursive;
  font-size: 30px;

}

.navbar-title{
  p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    // font-weight: bold;
    font-family: 'Great Vibes', cursive;
    // position: relative;
    margin:0;
    margin-left:17vw;
  }
}

